{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <style>
    .container {
      display: flex;
    }

    #pokemon-list {
      flex: 1;
      overflow-y: auto;
    }

    #pokemon-detail {
      position: fixed;
      width: 900px;
      height: 100%;
      overflow-y: auto;
      right: 0;
    }

    .sidebar {
      flex: 1;
      margin-right: 10px;
    }

    .pokemon-list {
      list-style-type: none;
      padding: 0;
    }

    .pokemon-list-item {
      margin-bottom: 10px;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Pokémon List</h1>

  <div id="pokemon-list" class="container">
    <div id="pokemon-detail"></div>
    <div class="sidebar">
      <h2>Pokemon List</h2>
      <ul class="pokemon-list">
        {% for pokemon in pokemon_list %}
        <li class="pokemon-list-item">
          <a href="#" onclick="loadPokemonDetail({{ pokemon.id }}); return false;">
            <strong>{{ pokemon.id }}</strong> {{ pokemon.name.capitalize }}<br>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <script>
    function loadPokemonDetail(pk) {
      const detailUrl = "{% url 'pokemon_detail' pk=0 %}".replace('0', pk);

      $.ajax({
        url: detailUrl,
        type: "GET",
        dataType: "html",
        success: function (response) {
          $('#pokemon-detail').html(response);
        },
        error: function (xhr, status, error) {
          console.log(error);
        }
      });
    }
  </script>
{% endblock %}
