{% block extra_css %}
  <style>
    .card {
      max-height: 100%;
      overflow: hidden;
    }

    .card-content {
      max-height: 500px;
      overflow-y: auto;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="card">
    <h1 class="card-title" style="font-size: 48px"> #{{ pokemon.id }}</h1>
    <h2 style="font-size: 36px;">{{ pokemon.name.capitalize }}</h2>

    <div class="card-content">
      <div style="display: flex; flex-wrap: wrap;">
        <div style="flex: 1; margin-right: 10px;">
          <p><strong>Abilities:</strong> {{ pokemon.display_abilities }}</p>
          <p><strong>Base Experience:</strong> {{ pokemon.base_experience }}</p>
          <p><strong>Forms:</strong></p>
          <div class="card-select">
            <div class="select-wrapper">
              <select multiple class="w-full">
                {% with form=pokemon.display_forms %}
                  <option value="{{ form }}">{{ form }}</option>
                {% endwith %}
              </select>
            </div>
          </div>
        </div>

        <div style="flex: 1; margin-right: 10px;">
          <p><strong>Game Indices:</strong></p>
          <div class="card-select">
            <div class="select-wrapper">
              <select multiple class="w-full">
                {% with index=pokemon.display_game_indices %}
                  <option value="{{ index }}">{{ index }}</option>
                {% endwith %}
              </select>
            </div>
          </div>
          <p><strong>Height:</strong> {{ pokemon.height }}</p>
          <p><strong>ID:</strong> {{ pokemon.id }}</p>
          <p><strong>Is Default:</strong> {{ pokemon.is_default }}</p>
        </div>

        <div style="flex: 1;">
          <p><strong>Location Area Encounters:</strong></p>
          <div class="card-select">
            <div class="select-wrapper">
              <select multiple class="w-full">
                {% with encounter=pokemon.display_location_area_encounters %}
                  <option value="{{ encounter }}">{{ encounter }}</option>
                {% endwith %}
              </select>
            </div>
          </div>
          <p><strong>Moves:</strong></p>
          <div class="card-select">
            <div class="select-wrapper">
              <select multiple class="w-full">
                {% with move=pokemon.display_moves %}
                  <option value="{{ move }}">{{ move }}</option>
                {% endwith %}
              </select>
            </div>
          </div>
        </div>
      </div>

      <div style="display: flex; flex-wrap: wrap;">
        <div style="flex: 1; margin-right: 10px;">
          <p><strong>Order:</strong> {{ pokemon.order }}</p>
          <p><strong>Past Types:</strong></p>
          <div class="card-select">
            <div class="select-wrapper">
              <select multiple class="w-full">
                {% with past_type=pokemon.display_past_types %}
                  <option value="{{ past_type }}">{{ past_type }}</option>
                {% endwith %}
              </select>
            </div>
          </div>
        </div>

        <div style="flex: 1; margin-right: 10px;">
          <p><strong>Species:</strong></p>
          <div class="card-select">
            <div class="select-wrapper">
              <select multiple class="w-full">
                {% with species=pokemon.display_species %}
                  <option value="{{ species }}">{{ species }}</option>
                {% endwith %}
              </select>
            </div>
          </div>
        </div>

        <div style="flex: 1;">
          <p><strong>Sprites:</strong> {{ pokemon.sprites }}</p>
          <p><strong>Stats:</strong></p>
          <div class="card-select">
            <div class="select-wrapper">
              <select multiple class="w-full">
                {% with stat=pokemon.display_stats %}
                  <option value="{{ stat }}">{{ stat }}</option>
                {% endwith %}
              </select>
            </div>
          </div>
          <p><strong>Types:</strong></p>
          <div class="card-select">
            <div class="select-wrapper">
              <select multiple class="w-full">
                {% with type=pokemon.display_types %}
                  <option value="{{ type }}">{{ type }}</option>
                {% endwith %}
              </select>
            </div>
          </div>
          <p><strong>Weight:</strong> {{ pokemon.weight }}</p>
        </div>
      </div>
    </div>

    <div class="navigation">
      {% if pokemon.id > 1 %}
        {% with previous_pokemon=pokemon.get_previous_by_id %}
          <a class="arrow" onclick="loadPokemonDetail({{ previous_pokemon.id }});
            return false;" href="{% url 'pokemon_detail' previous_pokemon.id %}">&lt;Previous</a>
        {% endwith %}
      {% endif %}
      {% if pokemon.id < 899 %}
        {% with next_pokemon=pokemon.get_next_by_id %}
          <a class="arrow" onclick="loadPokemonDetail({{ next_pokemon.id }});
            return false;" href="{% url 'pokemon_detail' next_pokemon.id %}">Next &gt;</a>
        {% endwith %}
      {% endif %}
    </div>
  </div>
{% endblock %}
